.page {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
  color: var(--color-system-white);
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: var(--color-system-black);
}
