.game__step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-system-gray);
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
