.icon_type_zero {
  background-color: var(--color-system-black);
  -webkit-mask-image: url('../../../icons/icon-zero.svg');
  mask-image: url('../../../icons/icon-zero.svg');
  background-color: var(--color-system-blue);
}
